

.account-confirmation{
    color: #453C3C;
    text-align: center;
    font-family: "Inter", serif;
}

#smile-face{
    color: #B8DFFF;
    opacity: 0; 
    transform: translateY(20px);
    animation: Anim_1 1s ease forwards;
}


@keyframes Anim_1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.start-button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}