#BackButton{
    height: 45px;
    width: 110px;
    border-radius: 7px;
    border: none;
    background-color: #B8DFFF;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border-radius: 7px;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: transform 0.3s, opacity 0.3s;
}

#arrow-left{
    color: #FFFFFF; 
    margin-right: 15px;
}



#BackButton:hover{
    transform: scale(1.05); 
}