button{
    height: 50px;
    width: 100px;
    border-radius: 7px;
    border: none;
    background-color: #9BD2FF;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", serif;
}
