#checkout-button{
    height: 60px;
    width: 348px;
    border-radius: 7px;
    border: none;
    background-color: #9BD2FF;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border-radius: 7px;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s, opacity 0.3s;
    margin-top: 5px;
}


#checkout-button:hover{
    transform: scale(1.05); 
}

