#GetStart{
    height: 45px;
    width: 160px;
    border-radius: 7px;
    border: none;
    background-color: #9BD2FF;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border-radius: 7px;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: "Inter", serif;
    transition: transform 0.3s, opacity 0.3s;
}


#GetStart:hover{
    transform: scale(1.05); 
}

