#card{
    text-align: left;
    font-family: "Inter", serif;
}

.card{
    border: none;
    background-color: #F3F3F3;
}

hr{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

img{
    margin-bottom:-20px;
    padding: 0px;
}

.Name-Item{
    font-weight: 400;
    color: #453C3C;
}

.Value-Item{
    font-weight: 400;
    color:#999898
}


section{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%;
    background-color: FFFFFF;
    opacity: 0; 
    transform: translateY(20px);
    animation: Anim_1 1s ease forwards;

}

.content{

    background-color: FFFFFF;
    width: 95%;
    display: flex;
    
}


@keyframes Anim_1 {
    to {
        opacity: 1;
        transform: translateY(10);
    }
}