.JanelaProduto{
    margin-left: 57px;
    margin-top: 118px;;
    width: 890px;
    height: 540px;
    background-color: #F3F3F3;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    animation: enter 2s;
    font-family: "Inter", serif;
}

@keyframes enter{
    0%{margin-left: -60px;}
    100%{margin-left: 57px;}
}