.JanelaProduto{
    margin-left: 57px;
    margin-top: 118px;;
    width: 890px;
    height: 540px;
    background-color: #F3F3F3;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}