button{
    height: 45px;
    width: 110px;
    border-radius: 7px;
    border: none;
    background-color: #9BD2FF;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

i{
    color: #FFFFFF; 
}