.input-section {
    display: flex;
}


form{
    display: flex;
    gap: 30px;
    width: 50%;

}


.input-group {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

label {
    margin-bottom: 0px;
    font-family: "Inter", serif;
    color: #453C3C;
    font-size: 15px;
}

.inputuser {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: #FCFCFC;
    color: #453C3C;
    outline: none;
    margin-bottom: 40px;
}

#CEP{
    border-radius: 7px;  
}

#numero{
    border-radius: 7px;  
}

#bairro{
    border-radius: 7px;  
}


#estado{
    border-radius: 7px;  
}


#logradouro{
    border-radius: 7px;  
}

#complemento{
    border-radius: 7px;  
}


#pais{
    border-radius: 7px;  
}

#municipio{
    border-radius: 7px;  
}

.buttons-group{
    display: flex;
    gap: 20px;
}

.progress-bar-section{
    height: 150px;
    width: 100%;
    margin-bottom: 50px;
    font-family: "Inter", serif;
    font-size: 15px;
    
}


.progress-bar {
    text-align: center;
    width: 50%;
    height: 150px;

}

.icon-group{
    align-items: center; 
    justify-content: space-around;
    display: flex; 
    margin-bottom: 20px;
}

.label-group{
    align-items: center;
    justify-content: space-around; 
    display: flex;
    margin-bottom: 20px;
}


.bar{
    width: 100%;
    height: 10px;
    background-color: #DEF1FF;
}

#smile{
    color: #9BD2FF;
}

#location{
    color: #9BD2FF;
}

#user{
    color: #9BD2FF;
}

.progress-address {
    height: 100%;
    background-color: #9BD2FF;
    width: 0;
    opacity: 1;
    transform: translateX(0);
    animation: progressAddress 1s ease forwards;
}

@keyframes progressAddress {
    to {
        width: 50%;
    }
}

