.content{
    margin-top: -540px;
    margin-left: 947px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.props{
    margin-left: -20px;
    justify-content:center;
    display: flex;
}


.TituloEPreco{
    color: #453C3C;
    font-size: 30px;
    margin-left: 34px;
    font-family: Arial, Helvetica, sans-serif;
}

.Texto{
    color: #999898;
    font-size: 15px;
    margin-left: 34px;
    font-family: Arial, Helvetica, sans-serif;
}

#icone{
    color: #f76b6b;
    font-size: 40px;
    margin-left: 30px;
}

